@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../img/fondoRolls-Royce.jpg");
  background-size: cover;
}
/* aqui se coloca el efecto hover del nav */
.navbar {
  padding: 0;
}
.navbar a {
  font-weight: 600;
  font-size: 18px;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: #919191;
  border-radius: 30px;
}
.navbar .navbar-nav .nav-link {
  padding: 1em;
  transition: all 0.7s;
}

.carousel-item {
  min-height: 300px;
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 70px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 25px;
}

.carousel-caption p {
  font-size: 20px;
  margin: 10px 0;
  margin-bottom: 25px;
}

.carousel-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px; /* Ajusta la posición */
  left: 50%;
}

.services {
  padding: 50px 0;
}

.bg-car1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/c1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-car2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/c2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-car3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/c3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-icons i {
  font-size: 50px;
}

.box-icons h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.preguntas {
  width: 75%;
  margin: 0 auto;
}

.card img {
  height: 150px;
  width: 150px;
  transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.25);
  transition: transform 0.5s ease;
}

.banner h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.banner img {
  width: 500px;
}
.links a img {
  text-decoration: none;
}
@media (max-width: 768px) {
  .banner img {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .carousel-caption h5 {
    font-size: 55px;
    font-weight: 500;
  }
  .carousel-caption p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
  }
}

@media (max-width: 750px) {
  .carousel-caption h5 {
    font-size: 35px;
    font-weight: 400;
  }
  .carousel-caption p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
  }
}

@media (max-width: 600px) {
  .carousel-caption h5 {
    font-size: 25px;
    font-weight: 400;
  }
  .carousel-caption p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
  }
}

body.tematica {
  background-attachment: fixed; /* Evita que el fondo se redimensione */
  background-size: cover; /* Mantiene la imagen de fondo cubriendo toda la pantalla */
}

.accordion-button {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 fill=%22white%22 class=%22bi bi-chevron-down%22 viewBox=%220 0 16 16%22%3E%3Cpath fill-rule=%22evenodd%22 d=%22M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%22/%3E%3C/svg%3E");
}
.accordion-button:not(.collapsed)::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 fill=%22white%22 class=%22bi bi-chevron-up%22 viewBox=%220 0 16 16%22%3E%3Cpath fill-rule=%22evenodd%22 d=%22M1.646 11.354a.5.5 0 0 1 .708 0L8 5.707l5.646 5.647a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1-.708 0l-6 6a.5.5 0 0 1 0-.708z%22/%3E%3C/svg%3E");
}
